@import "../../global";


.element {
    @extend .lightBackground;
    @extend .border;
    padding: 1rem;
    display: inline-block;
    border-radius: var(--border-radius);
    color: #FFFFFF;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
