.arrowIcon {
    background-color: rgb(255, 255, 255, 0.4);
    width: 55px;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-radius: 20px;
}

.Icon {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}