

.input {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Header{
    display: flex;
    flex-direction: column;
}
.ChallengeCard{
    display: flex;
    justify-content: center;
}