.Icon g {
    fill: rgb(255, 255, 255, 0.5) !important;
}

// .Icon path {
// stroke: rgb(255, 255, 255);
// }

.Icon svg {
    // fill: rgb(255, 255, 255, 0.5) !important;
    color: rgb(255, 255, 255, 0.5);
}

.Icon {
    display: flex;
    gap: 5px;

    // margin: 10px;
    // justify-content: center;

    align-items: center;

    svg {
        width: 30px;
        width: 25px;
        // height: 17px;
    }
}

.IconProgressBar {
    padding: 0px 6px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.active {
    border-bottom: 2px solid var(--primary-color);

    & g {
        fill: var(--primary-color) !important;
    }

    // & path {
    // stroke: rgb(255, 255, 255);
    // }

    &svg {
        fill: rgb(255, 255, 255) !important;
        color: rgb(255, 255, 255);
    }

}

.done {
    border-bottom: 2px solid var(--text-color);

    & g {
        fill: var(--text-color) !important;
    }

    // & path {
    // stroke: var(--text-color);
    // }

    &svg {
        fill: var(--text-color) !important;
        color: var(--text-color);

    }
}